.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

a.badge-danger {
    margin-left: 5px;
    color: white;
    background-color: red;
}

.act, .act:hover {
    background-color: #1abc9c;
    color: white;
}

#sname {
    margin-bottom: 5px;
}

.btn-danger {
    display: inline-block;
    margin-right:10px;
    background-color: #db0000;
    border: none;
}

label {
    display:inline-block;
    margin-right: 3px;
}

#odds {
    font-weight: bolder;
}
