.submit-form {
  max-width: 400px;
  margin: auto;
}

form.item {
  text-align: center;
  margin-left: 20px;
}


input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}


.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}


.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

p {
    font-size: 20px;
    font-weight: 200;
    width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

.odds {
    color: #FFDF00;
}
